.app {
  text-align: center;
  margin-bottom: 100px;
}

/*watch screen*/
div.rectangle {
width:272px;
height:340px;
border-style: solid;
border-width:3px ;
border-color: #000;
margin-top: 100px;
margin-left: 50%;
vertical-align: middle;
border-radius: 30px;
}

.input{
  width: 240px;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 10px;
  resize: none;
}

/*Homepage Keyboard*/

.a-f, .A-F{
    display: inline-block;
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270eg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}

.n-t, .N-T{
    display: inline-block;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90eg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.g-m, .G-M{
  padding-top: 10px;
}

.u-z, .U-Z{
  margin-top: 100px;
}

.space {
  vertical-align: middle;
  margin-right: 40px;
  margin-left: 40px;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid black;
}

.middle{
  padding-top: 100px;
}

/*A-F*/

.row{
  padding-left: 40px;
  padding-right: 40px;
    margin-bottom: 40px;
    
}

.char{
  padding: 40px;
  padding-bottom: 10px;
  font-size: 3.5rem;
}


.row-of-3{
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
}

.row-of-3, .char {
padding: 30px;
padding-top: 5px;
padding-bottom: 5px;
}


#a, #b {
  padding-top: 0px;
  margin-top: 40px;
}

body {
    /*Prevents text from being highlighted, helps with selecting letters*/
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;
  user-select: none;
}

.jumbotron {
  text-align: center;
}

.results {
  text-align: left;
  -webkit-user-select: auto; 
  -moz-user-select: auto;    
  -ms-user-select: auto;
  user-select: auto;
  margin: 50px;
  font-size: 8px;
}

.promptText {
  font-size: 20px;
  font-weight: bold;
  color: blue;
}
